/* phone */
@media screen and (max-width: 500px) {
/* ====================== Navigation ====================== */
  nav {
    height: auto;
  }
/* ====================== Restaurant Listing ====================== */
  #restaurants-list {
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    min-width: 90%;
  }

  #restaurants-list li {
    width: 90%;
  }


/* ====================== Restaurant Filtering ====================== */
  .filter-options {
    display: inline-block;
    height: auto;
  }

  .filter-options select {
    max-width: 40%;
  }
}



/* ipad */

@media screen and (min-width: 501px) and (max-width: 964px) {

  /* ====================== Restaurant Listing ====================== */
  #restaurants-list {
    min-width: 90%;
    background-color: red;
  }

  /* ====================== Restaurant Filtering ====================== */
  .filter-options {
    display: inline-block;
    height: auto;
  }

  .filter-options h2 {
    display: inline-block;
  }

  .filter-options select {
    max-width: 40%;
  }
}

/* desktop */
/* for massive screens 1000+ change it to double column and each restaurant should only take 50% height 50% width */
@media screen and (min-width: 965px) {
  #restaurants-list {
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    width: 100%;
  }

  #restaurants-list li {
    max-width: 40%;
  }

  /* ====================== Restaurant Filtering ====================== */
  .filter-options {
    display: inline-block;
    height: auto;
    text-align: center;
  }

  .filter-options h2 {
    display: inline-block;
  }

  .filter-options select {
    max-width: 40%;
  }
}